<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <header th:replace="fragments/layout :: header"></header>

    <main class="container-fluid bg-color p-5">
    
       <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Planos e Preços</h1>
    <p class="fs-5 text-body-secondary">
        Escolha o plano ideal para o seu pet: desde uma visita semanal até acompanhamento diário, com total transparência.
    </p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Básico</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">€100<small class="text-body-secondary fw-light">/mês</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1 visita rápida por semana</li>
                    <li>Até 30 minutos de companhia</li>
                    <li>carinho, brincadeiras rápidas</li>
                    <li>Relatório simples via app</li>
                </ul>
                <a th:href="@{/user/register}">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Contratar</button>
                </a>
            </div>
        </div>
    </div>

  
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Essencial</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">€180<small class="text-body-secondary fw-light">/mês</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>3 visitas semanais</li>
                    <li>Até 1 hora de companhia por visita</li>
                    <li>Brinquedos e passeios incluídos</li>
                    <li>Relatórios detalhados via app</li>
                </ul>
                <a th:href="@{/user/register}">
                    <button type="button" class="w-100 btn btn-lg btn-primary">Assinar</button>
                </a>
            </div>
        </div>
    </div>

    <!-- Plano Premium -->
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Premium</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">€300<small class="text-body-secondary fw-light">/mês</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Visitas diárias</li>
                    <li>Até 2 horas de companhia por visita</li>
                    <li>Passeios ao ar livre e brincadeiras</li>
                    <li>Atualizações em tempo real via app</li>
                </ul>
                <a th:href="@{/user/register}">
                    <button type="button" class="w-100 btn btn-lg btn-primary">Contratar agora</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="px-3 text-center my-5">
    <h1 class="p-5">Não encontrou um plano ideal para o seu pet?</h1>
    <h4> Cadastre-o agora e solicite um orçamento personalizado! <br>
        Informe dados como espécie, porte, frequência de atendimentos e serviços adicionais. Em até 24 horas você receberá uma proposta feita sob medida para as necessidades dele.</h4>
    <p class="lead"> <a th:href="@{/user/register}" class="btn btn-lg btn-light fw-bold border-warning bg-warning my-5">Começar agora</a> </p>
</div>
    
        <div class="row">         
            <div class="col-md-7">
                <div class="card shadow-sm">
                    <div class="card-header bg-color2 text-white">
                        <h4 class="mb-0">Entre em contacto conosco</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/enviar-contato}" method="post">
                            <div class="mb-3">
                                <label for="contNome" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="contNome" name="nome" required>
                            </div>

                            <div class="mb-3">
                                <label for="contEmail" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="contEmail" name="email" required>
                            </div>

                            <div class="mb-3">
                                <label for="contMensagem" class="form-label">Mensagem</label>
                                <textarea class="form-control" id="contMensagem" name="mensagem" rows="5" required></textarea>
                            </div>

                            <button type="submit" id="btnform" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>

           
            <div class="col-md-5 mt-4 mt-md-0">
                <div class="card shadow-sm">
                    <div class="card-header bg-color2 text-white">
                        <h5 class="mb-0">Informações de Contato</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Email:</strong> contato@diariodopet.com.br</p>
                        <p><strong>Telefone:</strong> (+351) 912340-567</p>
                        <p><strong>Instagram:</strong>
                            <a href="#" target="_blank">@diariodopet</a>
                        </p>
                        <p><strong>Endereço:</strong> Rua dos Pets, 123 – Vila Real, Portugal</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>