<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <header th:replace="fragments/layout :: header"></header>

    <main class="bg-color">
        <div class="container-fluid d-flex justify-content-center">
            <div class="col-4 text-center my-5 py-5">
                <div class="pb-5 mb-4 border border-primary bg-color2">
                    <h2 class="my-5">Registre-se</h2>
                    <form th:action="@{/user/register}" th:object="${userDTO}" method="post" class="mb-3">

                        <div class="my-3">
                            <label for="role">Tipo de Conta</label>
                            <select id="role" name="role" th:field="*{role}" required>
                                <option value="">Selecione...</option>
                                <option value="TUTOR">Tutor</option>
                                <option value="PETSITTER">Petsitter</option>
                            </select>
                        </div>
                        
                        <!--Campo para tutor-->
                        <div id="tutorFields" style="display:none;">
                            <div class="my-3">
                                <label for="tutorName">Nome completo</label>
                                <br>
                                <input type="text" id="tutorName" th:field="*{tutor.name}" placeholder="Nome do Tutor" required>
                                <br>
                            </div>

                            <div class="my-3">
                                <label for="tutorPhone">Telefone</label>
                                <br>
                                <input type="tel" id="tutorPhone" th:field="*{tutor.phoneNumber}" placeholder="Telefone" required>
                            </div>

                            <div class="my-3">
                                <label for="tutorAddress">Endereço</label><br>
                                <input type="text" id="tutorAddress" th:field="*{tutor.address}" placeholder="Endereço" required>
                            </div>
                        </div>
                        <!--tutor-->

                        <!-- Campos para Petsitter -->
                        <div id="petsitterFields" style="display:none;">
                            <div class="my-3">
                                <label for="petsitterName">Nome completo</label><br>
                                <input type="text" id="petsitterName" th:field="*{petsitter.name}" placeholder="Nome do Petsitter" required>
                            </div>

                            <div class="my-3">
                                <label for="petsitterPhone">Telefone</label><br>
                                <input type="tel" id="petsitterPhone" th:field="*{petsitter.phoneNumber}" placeholder="Telefone" required>
                            </div>
                        </div>

                        <!--petsitter-->

                        <div class="my-3">
                            <label for="email">E-mail</label>
                            <br>
                            <input type="email" name="email" id="email" placeholder="abcde@1234.com" th:field="*{email}" required>
                            <br>
                        </div>
                        
                        <div class="my-3">
                            <label for="password">Senha</label>
                            <br>
                            <input type="password" name="password" id="password" th:field="*{password}" required>
                            <br>
                        </div>

                        <div class="my-3">
                            <label for="password1">Confirme a senha</label>
                            <br>
                            <input type="password" name="password1" id="password1" required>
                            <br>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <div class="col-3">
                                <button type="submit" id="sendRegister" class="btn btn-outline-warning">Criar conta</button>
                            </div>

                            <div class="col-3">
                                <button type="reset" class="btn btn-outline-danger">Cancelar</button>
                            </div>
                        </div>
                        <input type="checkbox" name="check" id="check" required>
                        <q>Aceita os termos de privacidade</q>
                    </form>

                    
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>