.btn>a{
    text-decoration: none;
    color: black;
}

.bg-image{
    background-image: url(../image/beautiful-pet-portrait-dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image2 {
    background-image: url(../image/pets-festa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;

}

.bg-image3{
    background-image: url(../image/job562-nunoon-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image4{
    background-image: url(../image/cat-papagaio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 25%;
}

.bg-color{
    background-color:#35cbc7;
}

.bg-color2{
    background-color: #0d6efd;
}

.bg-color-dash{
    background-color: rgb(240, 240, 165);
}

.bg-separador{
    background-color: rgb(231, 171, 236);
}

.imgPerfil{
    width: 50%;
}

.bg-img{
    background-color: #1ba1bf;
}

.btn-outline-warning{
    opacity: 200%;
}

.textarea, #relato {
    height: 150px;
    width: 350px;
    font-size: 18px;
    line-height: 1.5;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    resize: vertical;
  }