<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:block="true" th:text=" 'Diário do Pet - Home' "></title>
</head>

<body>
    <header th:replace="fragments/layout :: header"></header>

    <main class="bg-color">
        <div class="text-center container p-5 bg-color">
            <h1>Bem-vindo à nossa aplicação de cuidados para animais de estimação</h1>
        </div>

        <div class="container">
            <div class="row justify-content-evenly">
                <div class="col-2">
                    <img th:src="@{/image/avatar.jpg}" alt="Gato fofo" class="img-fluid">
                </div>

                <div class="col-8">
                    <p>Descubra a experiência definitiva de cuidados para animais de estimação com a nossa aplicação abrangente. Aceda a canlendários de cuidados personalizados, visitas com fotos e relatórios em tempo real do seu animal de estimação.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-image mt-5 p-5">
            <div class="col-4 p-5 m-3">
                <h2 class="text-center mb-4">Nossos serviços</h2>

                <p>Desde passeios diários e acompanhamentos até consultas veterinárias e gestão de medicação, a nossa aplicação tem tudo o que precisa.</p>

                <p>Simplifique os cuidados com o seu animal de estimação com apenas alguns toques - dando-lhe mais tempo para aproveitar a sua companhia.</p>

                <div class="btn btn-outline-warning m-3">Solicitar orçamento</div>
            </div>
        </div>

        <div class="container my-5">
            <div class="col-4">
                <h2>Sobre nós</h2>
                <p>Na nossa aplicação de cuidados para animais de estimação, somos apaixonados por fornecer cuidados e apoio excecionais para os nosso adorados companheiros peludos.</p>

                <a th:href="@{/about-us}">
                    <div class="btn btn-outline-light m-4">Saber mais</div>
                </a>
            </div>
        </div>

        <div class="container-fluid bg-image2 d-flex justify-content-evenly mb-5 ">
            <div class="col-8">
                <h1 class="fw-bolder">Cuidamos com amor, atenção e criatividade!</h1>

                <h3 class="my-3 fw-bold">Nosso diferencial</h3>

                    <ul class="">
                        <li class="fw-bolder">Comemorações especiais para o seu pet, direto em casa.</li>
                        <li class="fw-bold">Visitas apenas para brincar e fazer companhia.</li>
                        <li class="fw-bold">Cuidamos de todos os animais da residência não importa o tamanho, espécie ou rotina.</li>
                    </ul>
                
                <div class="btn btn-outline-warning my-5 text-center">Saber mais</div>
            </div>
        </div>

        <div class="container-fluid p-0">
            <div class="row my-4 justify-content-center">
                <div class="col-3 my-5">
                    <h2 class="my-5">Destaques do nosso cuidado com seu pet</h2>

                    <ul>
                        <li>Cadastre seus pets.</li>
                        <li>Acompanhe as visitas em tempo real.</li>
                        <li>Veja fotos e relatórios do seu animal logo após a visita.</li>
                    </ul>

                    <div class="btn btn-outline-light m-4">Saiba mais</div>
                </div>
            </div>
            
            <div class="container my-5">
                <h1 class="text-center mb-5">O que os nossos clientes dizem</h1>
                <div class="row">
  
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 bg-img shadow-sm">
                            <div class="card-body d-flex flex-column">
                            <div class="d-flex mb-3">
                                <div>
                                <h5 class="mb-0">Mariana Silva</h5>
                                <small class="text-muted">Tutora do Thor</small>
                                </div>
                                <div class="imgPerfil">
                                    <img th:src="@{/image/pet-thor.avif}" alt="Foto do cliente" class="rounded-circle me-3 img-fluid">
                                </div>
                            </div>
                            <p class="flex-grow-1">“Excelente serviço! O pet sitter cuidou do Thor com tanto carinho que pude viajar tranquila. Recebi fotos e relatórios diários, e percebi que ele ficou super feliz.”</p>
                            </div>
                        </div>
                    </div>
                    <!-- Depoimento 2 -->
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 bg-img shadow-sm">
                            <div class="card-body d-flex flex-column">
                            <div class="d-flex mb-3">
                                <div>
                                <h5 class="mb-0">Carlos Pereira</h5>
                                <small class="text-muted">Tutor da Luna</small>
                                </div>
                                <div class="imgPerfil">
                                    <img th:src="@{/image/pet-dog-luna.avif}" alt="Foto do cliente" class="rounded-circle me-3 img-fluid">
                                </div>
                            </div>
                            <p class="flex-grow-1">“Excelente serviço! O pet sitter cuidou do Thor com tanto carinho que pude viajar tranquila. Recebi fotos e relatórios diários, e percebi que ele ficou super feliz.”</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4 ">
                        <div class="card h-100 bg-img shadow-sm">
                            <div class="card-body d-flex flex-column">
                            <div class="d-flex mb-3">
                                <div>
                                <h5 class="mb-0">Mariana Silva</h5>
                                <small class="text-muted">Tutora do Thor</small>
                                </div>
                                <div class="imgPerfil">
                                    <img th:src="@{/image/pet-cat-max.avif}" alt="Foto do cliente" class="rounded-circle me-3 img-fluid">
                                </div>
                            </div>
                            <p class="flex-grow-1">“Excelente serviço! O pet sitter cuidou do Thor com tanto carinho que pude viajar tranquila. Recebi fotos e relatórios diários, e percebi que ele ficou super feliz.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid bg-image4 d-flex justify-content-end my-5 py-5">
                <div class="col-6 my-5 text-center">
                    <h2 class="mb-5">Fale Conosco - peça já seu orçamento</h2>
                    <p>Email: contato@diariodopet.com.br</p>
                    <p>Telefone: (+351) 912340-567</p>
                    <p>Instagram: <a href="#">@diariodopet</a></p>
                    <p>Endereço: Rua dos Pets, 123 - Vila Real/ Portugal</p>                    
                     <a th:href="@{/contacts}" class="list-inline-item nav-link">
                        <div class="btn btn-outline-warning">Contactar</div>
                     </a>
                    
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>





<!-- Iniciar as páginas assim

<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <header th:replace="fragments/layout :: header"></header>

    <main>
        <h1 class="btn btn-primary m-3">
            <a th:href="@{/about-us}">sobre nos</a>
        </h1>
    </main>

    <footer th:replace="fragments/layout :: footer"></footer>
</body>
</html> -->